/* (Especificidad: 0,0,1) */
section {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 80%;
    margin: 0 auto;
}

/* (Especificidad: 0,0,2) */
section > label {
    font-weight: bold;
}

/* (Especificidad: 0,0,2) */
section > input,
section > textarea {
    width: 95%;
    padding: 0.5em;
    font-size: 1.5rem;
    box-sizing: border-box;
}

/* (Especificidad: 0,0,2) */
section > textarea {
    resize: vertical;
    height: 8em;
}

/* (Especificidad: 0,0,2) */
section > h2 {
    text-align: center;
    width: 95%;
}

/* (Especificidad: 0,0,1) */
article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;        
    background-color: rgb(10, 117, 167);
    border-radius: 0.625rem;
    margin: 1rem auto;         
    width: 50%;
    max-width: 60%;
    color: rgb(255, 255, 255);
}

/* (Especificidad: 0,0,2) */
article img {
    display: block;
    width:40%;
    height:auto;
    margin: auto;
    position: relative;
    transition: none;
    object-fit: cover;
    border-radius: 0.5em;
    margin: auto; /*Redefinicion del margen para centrar la imagen*/
}

/* (Especificidad: 0,0,2) */
article h4{
    font-size: 1.3rem;
    margin-left: 1rem;
}

/* (Especificidad: 0,0,2) */
article p {
    padding-top: 2rem;
    margin: 0.3rem 0;
    font-size: 1.3rem;
    width: 90%;
    /*Redefinicion del margen izquierdo para mostrar
    mejor el texto*/
    margin-left: 1rem;
    white-space: pre-wrap; 
    word-wrap: break-word;
}


@media (max-width: 480px) {
    
    /* (Especificidad: 0,0,2) */
    article {
    /*Redefinicion del ancho para adaptar el tamaño a telefonos*/
        width: 100%;
    }
}
