/* (Especificidad: 0,0,1) */
body {
    margin: 2%;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    font-family: "Arial", sans-serif;
    background-color: #d6eaf8;
    color: #333333;
    word-wrap: break-word;
    font-size: 1.3rem;
}

/* (Especificidad: 0,0,1) */
audio{
    width: 100%;
    max-width: 300px;
}

/* (Especificidad: 0,0,1) */
h1 {
    color: #0000ff; /* Hereda el color de fondo del body */
}

/* (Especificidad: 0,0,1) */
h3 {
    font-family: "Franklin Gothic Medium", sans-serif;
    font-size: 1.5rem;
}

/* (Especificidad: 0,0,1) */
header {
    background-color: #ffffff; /* Hereda el color del body */
}

/* (Especificidad: 0,0,1) */
header {
    width: 100%;
}

/* (Especificidad: 0,0,2) */
header + p {
    text-align: left;
    font-size: 1.5rem;
    width: 100%;
    background-color: white; /* Hereda el color del body */
}

/* (Especificidad: 0,0,1) */
a {
    font-family: "Trebuchet MS", sans-serif;
    text-decoration: none;
}

/* (Especificidad: 0,0,1) */
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* (Especificidad: 0,0,2) */
nav a {
    padding: 0.8rem ;
    color: #0000ff; /* Hereda el color de fondo de header*/
    font-size: 1.3rem;
    transition: color 0.3s ease;
    text-align: center;
}

/* (Especificidad: 0,1,1) */
nav .active {
    color: #228B22;  /* Hereda el color de fondo de header*/
}

/* (Especificidad: (0,1,2) */
nav a:hover {
    color: #f90404; /* Hereda el color de fondo de header*/
}

/* (Especificidad: 0,0,1) */
ol, ul {
    margin: 2rem;
    font-size: 1.3rem;
    width: 90%;
    word-wrap: break-word;
}


/* (Especificidad: 0,0,1) */
li{
    margin-top: 2rem;
}


/* (Especificidad: 0,0,2) */
ul img {
    padding-bottom: 2rem;
    width: 50%;
    height: auto;
}

/* (Especificidad: 0,0,2) */
dl dt {
    margin-left: 1rem;
    font-style: italic;
    font-weight: bold;
    font-size: 1.5rem;
}

/* (Especificidad: 0,0,2) */
dl dd {
    margin-left: 1rem;
    font-size: 1.2rem;
}

/* (Especificidad: 0,0,1) */
table {
    font-size: 1.3rem;
    width: 70%;
    margin: auto;
    height: auto;
    border-collapse: collapse;
}

/* (Especificidad: 0,0,2) */
table th {
    background-color: black;
    color: white;
    text-align: center;
    padding: 0.5rem;
}

/* (Especificidad: 0,0,2) */
table tr {
    background-color: #ffffff;  /* Hereda el color de body*/
    text-align: center;
}

/* (Especificidad: 0,0,1) */
video {
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* (Especificidad: 0,0,1) */
img {
    padding-left: 15%;
    width: 75%;
    display: block;
    height: auto;
}

/* (Especificidad: 0,0,1) */
button {
    margin: 1%;
    padding: 0.5%;
    font-size: 1.3rem;
    max-width: 300px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

/* (Especificidad: 0,0,2) */
article button {
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    padding: 0.5em;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: #fff;
    color: black;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* (Especificidad: 0,0,2) */
article img {
    width: 100%;
    max-width: 100vh;
    height: 50vh;
    position: absolute;
    transition: all 0.5s;
    object-fit: cover;
    border-radius: 0.5em;
    margin: auto;
}

/* (Especificidad: 0,1,1) */
button:nth-of-type(2) {
    top: 50%;
    left: 17%;
}

/* (Especificidad: 0,1,1) */
button:nth-of-type(1) {
    top: 50%;
    right: 2%;
}

/* (Especificidad: 0,0,2) */
script + article {
    width: 70%;
    max-width: 100vh;
    height: 50vh;
    position: relative;
    overflow: hidden;
}

/* (Especificidad: 0,1,1) */
button:hover {
    background-color: #0056b3;  /* Hereda el color de button*/
}

/* (Especificidad: 0,0,1) */
section {
    width: 100%;
    height: fit-content;
}

/* (Especificidad: 0,1,2) */
section > div:first-of-type {
    margin: auto;
    width: 80%;
    height: 50vh;
}

/* (Especificidad: 0,0,1) */
canvas {
    max-height: 450px;
    width: 85%;
    border: 0.05rem solid black;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* (Especificidad: 0,0,1) */
select {
    display: block;
    font-size: 1.5rem;
    margin: 1rem 0;
    padding: 0.5rem;
    width: 50%;
    box-sizing: border-box;
}

/* (Especificidad: 0,0,1) */
svg {
    align-items: center;
    width: 85%;
    border-color: black;
    margin: auto;
}

@media (max-width: 670px) {

    /* (Especificidad: 0,0,1) */
    select {
        width: 90%;        
        /*Redefinición de width para que no se
        vea muy pequeño en telefonos*/
    }

    /* (Especificidad: 0,0,1) */
    body {
        font-size: 1.2rem;  
        /*Redefinición de pading para reducir el tamaño
        del texto en moviles y que no se vea tan grande*/
    }

    /* (Especificidad: 0,0,2) */
    nav a {
        padding: 0%;
        /*Redefinición de pading para reducir el tamaño
        de la navegación en moviles*/
    }

    /* (Especificidad: 0,0,1) */
    table {
       font-size: 0.8rem;
        /*Redefinición del tamnaño de funete para
        reducir el tamaño de la tabla en moviles*/
    }

    ol, ul {
        /*Reducción para ajustar en telefonos una mejor
        visualización*/
        font-size: 1rem;
    }
}
